<h2 class="title">簡易快速</h2>
<div class="divclass">
    <h2 class="hometext2">設立本網站的主要目的就是讓<span style="color:green;">記帳</span>變得簡單快速，</h2>
    <h2 class="hometext2">讓你願意花一點點時間來<span style="color:green;">記帳</span></h2>
    <h2 class="hometext2">可以簡單的統計家庭中每個月每一個成員的收入與支出，</h2>
    <h2 class="hometext2">以及家庭總收入與總支出，以作為未來家庭收支規劃的參考。</h2>
<h2 class="hometext">一個人或一個家庭在忙碌的工商社會中兢兢業業的辛勤工作，</h2>
<h2 class="hometext">除了追求成就感，剩下的就是金錢了。</h2>  
<h2 class="hometext">攢下很多錢不外乎用於提高生活品質或投資生更多錢，以備不時之需。</h2>  
<h2 class="hometext3">收入、支出、生活品質是不是需要一個平衡點?</h2>  
<h2 class="hometext3">要如何掌握這個平衡點?</h2>  
<h2 class="hometext3">首先要知道自己賺了多少錢，花了多少錢。</h2>  
<h2 class="hometext3">那些錢是一定要花的，那些錢是可以省的。</h2>  
<h2 class="hometext"><span style="color:green;">記帳</span>這件事這時候顯的重要了</h2>  
<h2 class="hometext"><span style="color:green;">記帳</span>誰不知道它的重要性?但有幾個人能做到呢?</h2>  
<h2 class="hometext"><span style="color:green;">記帳</span>不是件困難事，卻很少人能持之以恆?</h2>  
<h2 class="hometext"><span style="color:green;">記帳</span>不是作不到，只因為太繁瑣，讓人不想做!</h2>  
<h2 class="hometext">本簡易快速的<span style="color:green;">記帳</span>網站，簡易快速的記帳方式，</h2>  
<h2 class="hometext">讓你願意在忙碌的生活中，撥一點點時間來<span style="color:green;">記帳</span>!!</h2>  
<h2></h2>
<h2></h2>
<h2></h2>
</div>
<!--<h1 class="title">家庭記帳</h1>是提供一個
<h1 class="title2" *ngIf="familyName">{{familyName}}</h1>感覺賺了很多錢，月底時錢包又好像沒増加
div class="row" *ngIf="!isLoggedIn()">
    <div class="col-12 col-md-8">
        <p class="lead">請先 <a routerLink="/login" class="btn btn-primary">登 入</a>再紀錄帳目 </p>
    </div>
</div-->
