<nav class="navbar  fixed-top navbar-expand-md navbar-light">
  <div class="container-fluid">
      <a routerLink="additem" class="navbar-brand ank">
          <img [ngClass]="{'paid': paid4app, 'nopaid': !paid4app}" alt=""><span
              *ngIf="familyName">{{familyName}}</span>家庭記帳</a>
      <button class="navbar-toggler" type="button" style="border: none;text-align: center;padding-left: 0px;" data-bs-toggle="collapse" data-bs-target="#navbarMain"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color:honeydew;border: none;">Menu</span>
      </button>
      <div id="navbarMain" class="navbar-collapse collapse">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: goldenrod">帳務夾</a>
                  <ul class="dropdown-menu">
                      <li><a routerLink="additem" class="dropdown-item">記帳</a></li>
                      <li *ngIf="isLoggedIn()"><a routerLink="monthlist" class="dropdown-item">月帳清單</a></li>
                      <li *ngIf="isLoggedIn()"><a routerLink="income" class="dropdown-item">收入</a></li>
                  </ul>
              </li>
          </ul>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: goldenrod">關於</a>
                  <ul class="dropdown-menu">
                      <li><a routerLink="" class="dropdown-item">首頁</a></li>
                      <li><a routerLink="opdoc" class="dropdown-item">使用說明</a></li>
                      <li *ngIf="isLoggedIn()"><a routerLink="suggest" class="dropdown-item">批評意見</a></li>
                  </ul>
              </li>
          </ul>
          <ul class="navbar-nav  ms-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown" *ngIf="!isLoggedIn()">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownpay" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false" style="color: goldenrod">用戶夾</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownpay">
                      <a routerLink="login" class="dropdown-item">登入</a>
                      <a routerLink="register" class="dropdown-item">註冊</a>
                      <a routerLink="forgetpws" class="dropdown-item">忘記密碼</a>
                      <a routerLink="setuser" class="dropdown-item" *ngIf="IsAdmin">用戶管理</a>
                  </ul>
              </li>
              <li class="nav-item dropdown" *ngIf="isLoggedIn()">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false" style="color: goldenrod">{{getUsername()}}</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" (click)="doLogout()">登出</a></li>
                      <li><a routerLink="changepws" class="dropdown-item">修改密碼</a></li>
                      <li><a routerLink="payrecord" class="dropdown-item" *ngIf="isSystemAdmin()">儲值登記</a></li>
                      <li><a routerLink="createmember" class="dropdown-item" *ngIf="isAdmin()">管理成員</a></li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>
<div class="container content">
  <router-outlet></router-outlet>
  <footer class="navbar fixed-bottom">
      <div class="row">
          <div class="col-12">
              <small>&copy;2022 潘丁瑜設計開發 </small><span>***本產品免費使用***</span>
          </div>
      </div>
  </footer>
</div>