<br />
<br />
<br />
<div class="row">
    <div class="col-12">
        <h4 style="color: gold;">忘記密碼(重設) </h4>
        <div role="alert" *ngIf="formError" class="alert alert-danger">
            {{ formError }}</div>
        <form (submit)="onChangePassword()" [formGroup]="model">

            <div class="input-group fMargin">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email：</span>
                </div>
                <input type="email"  class="form-control" id="email" name="email" placeholder="輸入 email "
                    formControlName="email">
            </div>
            <button type="submit" role="button" class="btn btn-primary fMargin" *ngIf="!changedOK">送出</button>
        </form>
    </div>
    <!-- <app-sidebar [content]="pageContent.sidebar" class="col-12 col-md-4"></app-sidebar> -->
</div>